.tabs{
    display:flex;
    flex-wrap:wrap;
    max-width:400px;
}

.tabs_label{
    padding:10px 16px;
    cursor:pointer;
}

.tabs_radio{
    display:none;
}

.tabs_content{
    order:1;
    width:100%;
    border-bottom:3px solid #ddd;
    line-height:1.5;
    font-size:0.9rem;
    display:none;
}

.tabs_radio:checked+.tabs_label{
    font-weight:bold;
    color:#009578;
    border-bottom:2px solid #009578;
}

.tabs_radio:checked+.tabs_label+.tabs_content{
    display:initial;
}